'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Stata-exec'
      'submenu': [
        {
          'label': 'Run'
          'command': 'stata-exec:run'
        }, {
          'label': 'Run and Move Down'
          'command': 'stata-exec:run-and-move-down'
        }, {
          'label': 'Run All'
          'command': 'stata-exec:run-all'
        }, {
          'label': 'Run Batch'
          'command': 'stata-exec:run-batch'
        }, {
          'label': 'Run Paragraph'
          'command': 'stata-exec:run-paragraph'
        }, {
          'label': 'Run Previous Command'
          'command': 'stata-exec:run-previous-command'
        }, {
          'label': 'Run Program'
          'command': 'stata-exec:run-program'
        }, {
          'label': 'Set Working Directory'
          'command': 'stata-exec:set-working-directory'
        }
      ]
    ]
  }
]
