# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# eventually make it like R-box with cmd-enter
# and have custom command palette to choose application
# https://discuss.atom.io/t/custom-use-of-the-command-palette/15702/2

# Ported from https://github.com/nteract/hydrogen/blob/master/keymaps/hydrogen.cson
# Using .platform-darwin overrides default keybinding assignment
'.platform-darwin atom-text-editor[data-grammar="source stata"]:not([mini])':
  'shift-cmd-c': 'stata-exec:set-working-directory'
  'cmd-enter': 'stata-exec:run-command'
  'shift-cmd-d': 'stata-exec:run-all'
  'shift-cmd-r': 'stata-exec:run-program'
  'shift-cmd-g': 'stata-exec:run-paragraph'
  'shift-alt-p': 'stata-exec:run-previous-command'

'atom-text-editor[data-grammar="source stata"]:not([mini])':
  'shift-ctrl-c': 'stata-exec:set-working-directory'
  'ctrl-enter': 'stata-exec:run-command'
  'shift-ctrl-d': 'stata-exec:run-all'
  'shift-ctrl-r': 'stata-exec:run-program'
  'shift-ctrl-g': 'stata-exec:run-paragraph'
  'ctrl-alt-p': 'stata-exec:run-previous-command'
