# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# eventually make it like R-box with cmd-enter
# and have custom command palette to choose application
# https://discuss.atom.io/t/custom-use-of-the-command-palette/15702/2
'atom-text-editor[data-grammar="source stata"]':
  'shift-cmd-e': 'stata-exec:set-working-directory'
  'cmd-enter': 'stata-exec:send-command'
  'shift-cmd-d': 'stata-exec:do-file'
  'shift-cmd-u': 'stata-exec:send-function'
  'shift-cmd-m': 'stata-exec:send-paragraph'
  'shift-alt-p': 'stata-exec:send-previous-command'
  # shift-cmd y, u, i, j, k, x, m